@charset "UTF-8";
.signOuter{
    border: 2px solid skyblue;
    width: 51rem;
    margin: 2rem auto;
    padding: 1rem;
    height: 34rem;
    border-radius: 2rem;
}

.signOuter:hover{
	 box-shadow: 0 0 6px 6px skyblue;
}
.head{
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom:1rem ;
}